
  
body{
    font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
margin: 0px !important;
}
.title-background{

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40vh 40vh;
    height: 80vh;
}
.title{
    position:absolute;
    top:0px;
    left:0px;
    display: grid;
    grid-template-columns: 4fr 1fr 380px 1fr;
    grid-template-rows: 1fr 250px 250px 1fr;
    width: 100%;
    height: 80vh;
}
.landscape{
    height: 100%;
    width: 100%;
    grid-area: 1/1/3/2;
    border-bottom-right-radius: 5%;
}
div.title h1{
    display:flex ;
    justify-content: flex-end;
    align-items: end;
    grid-area: 2/1/3/1;
    margin-left: 20px;
}
div.title h2{
    margin: 0px;
    display:flex ;
    justify-content: flex-end;
    align-items: start;
    grid-area: 3/1/4/1;
}
.my-photo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 500px;
    grid-area: 2/3/4/5;
    width: 380px;
    border-radius: 5%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 240px 3.5fr 1fr;
    grid-template-rows: 320px ;
    grid-gap: 20px;
    margin:80px 50px;
}
.coffee_img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
grid-area: 1/2/2/3;
}
.description-whoami{
    display: flex;
    align-items: center;
    grid-area: 1/3/2/4;
}

    div.title h1{
        font-size: 4rem;
    }
    div.title h2{
        font-size: 2rem;
    }
.info{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);

}
.info svg{
    background-color:#f0a196;
    padding: 5px;
    margin: 10px;
    border: 1px solid #e7ebee ;
    border-radius: 20%;
    color: white;
}
.info h1{
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: #f0a196;
    padding: 5px;
    color: white;
    margin: 10px;

}
.info > div{
    border: 5px solid #f0a196 ;
    border-radius: 5%;
}
li{
    list-style-type: none;
}
ul{
    font-size: 1.1rem;
    margin: 10px;
    padding: 0px;
}
footer{

    color: white;
    background-color: #f0a196;
}
.footer{
    background-color: #f0a196;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.copyrights{
    margin-left: 20px;
}
.footer svg{
    float: left;
    margin: 0px;
    width: 20px;
    height: 30px;
    margin-right: 10px;
}
.footer h3{
    font-size: 1rem;
    font-weight: 300;
    margin-top: -15px;
}
.contact h3{
    margin-left:30px;
}

.first{
    position: relative;
    top: 19px;
}
div.contact h2{
margin-top: 20px;
margin-bottom: 20px;
}

.navigation li{
padding: 20px;
}



@media only screen and (max-width: 600px){
    body{
        height: 100%;
        width: 100%;
    }
    div.title h1{
        font-size: 1.25rem;
    }
    div.title h2{
        font-size: 1rem;
    }
    
}
@media only screen and (max-width: 1000px){
    body{
        height: 100%;
        width: 100%;
    }
    .my-photo{
        height: 300px;
        width:220px;
    }
    .title{
        grid-template-columns: 4fr 1fr 220px 1fr;
        grid-template-rows: 1fr 150px 150px 1fr;
        height: 60vh;
    }
    .title-background{
        height: 60vh;
        grid-template-rows: 30vh 30vh;
    }
}
@media only screen and (max-width: 500px){
    body{
        height: 100%;
        width: 100%;
    }
    div.title h1{
        font-size: 1rem;
    }
    div.title h2{
        font-size: 0.8rem;
    }
    .my-photo{
        height: 200px;
        width:150px;
    }
    .title{
        grid-template-columns: 4fr 1fr 150px 1fr;
        grid-template-rows: 1fr 100px 100px 1fr;
        height: 60vh;
    }
    .title-background{
        height: 60vh;
        grid-template-rows: 30vh 30vh;
    }
}
@media only screen and (max-height: 800px){
    body{
        height: 100%;
        width: 100%;
    }
    .my-photo{
        height: 200px;
        width:150px;
    }
    .title{
        grid-template-rows: 1fr 100px 100px 1fr;
        height: 60vh;
    }
    .title-background{
        height: 60vh;
        grid-template-rows: 30vh 30vh;
    }
}
